services:
  nginx:
    build:
      context: ./nginx
    ports:
      - 80:80
    depends_on:
      - api_gateway

  api_gateway:
    build:
      context: ./api_gateway
    ports:
      - 8000:8000
    depends_on:
      - user_service
      - call_service
      - logging_service

  user_service:
    build:
      context: ./user_service
    ports:
      - 8001:8001
    depends_on:
      - db
  call_service:
    build:
      context: ./call_service
    ports:
      - 8002:8002
    depends_on:
      - db

  logging_service:
    build:
      context: ./logging_service
    ports:
      - 8004:8004
    depends_on:
      - db

  callcache_service:
    build:
      context: ./callcache_service
    environment:
      - CACHE_URL=redis://redis:6379/0
    ports:
      - 8003:8003
    depends_on:
      - logging_service

  db:
    image: postgres
    environment:
      POSTGRES_USER: RL
      POSTGRES_PASSWORD: RL1234
      POSTGRES_DB: users_db

  redis:
      image: redis

  